* {
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: bisque;
  min-height: 100vh;
}

input {
  border: hidden;
}

#pageTitle {
  text-align: center;
}

#main {
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.dFlex {
  display: flex;
}

.justBetween {
  justify-content: space-between;
  align-items: center;
}

.littlePadLeft {
  padding-left: 10px;
}

.w100 {
  width: 100%;
}

.borderBottom {
  border-bottom: 1px solid #eee;
}

.clearAll {
  background-color: #eee;
  font-weight: 300;
  text-align: center;
}

.italic {
  font-style: italic;
}

#list {
  width: 40%;
  background-color: white;
  box-shadow: 5px 5px 15px;
}

.pad10_5 {
  padding: 10px 5px;
}

li {
  list-style: none;
  height: 50px;
}

.posRelative {
  position: relative;
}

.rotate {
  background-color: white;
  font-size: 30px;
  color: gray;
  margin-right: 10px;
}
